.m-roi {
  &__content {
    padding: 30px;
  }
  &__table {
    margin-top: 25px;
    font-size: 12px;
    line-height: 14px;
    &-row {
      display: grid;
      grid-template-columns: 120px 100px 120px;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid #e0e0e0;
    }
  }
  &__text {
    max-width: 360px;
    margin: 20px 0px 40px;
    p + p {
      margin-top: 20px;
    }
  }
  &__link {
    margin: 0 auto;
    width: fit-content;
    img {
      margin-left: 10px;
      margin-top: -3px;
    }
  }
}
