.p-card {
  max-width: 355px;
  width: 100%;
  &__head {
    padding: 20px 18px 10px 31px;
    min-height: 115px;
    background: linear-gradient(98.94deg, #efdfff -22.87%, #f9f9f9 94.67%);
  }
  &__title {
    margin-bottom: 6px;
  }
  &__icons {
    position: relative;
    img {
      width: 62px;
    }
    img + img {
      position: absolute;
      width: 32px;
      bottom: -8px;
      right: -8px;
    }
  }
  &__box {
    padding: 25px 30px;
    & + & {
      border-top: 1px solid #e6e6e6;
    }
  }
  &__arp {
    &-percent {
      img {
        margin-left: 10px;
      }
    }
  }
  &__unlock {
    &-text {
      margin-bottom: 10px;
    }
  }
  &__earned {
    margin-bottom: 30px;
    &-numb {
      margin: 10px 0 5px;
    }
  }
  &__details {
    padding-top: 30px;
    overflow: hidden;
    &-item {
      margin-left: auto;
      & + & {
        margin-top: 10px;
      }
      img {
        width: 19px;
        margin-top: -2px;
        margin-left: 5px;
      }
    }
  }
  .show-enter {
    padding-top: 0;
    max-height: 0;
  }
  .show-enter-active {
    padding-top: 30px;
    max-height: 132px;
    transition: padding-top 300ms, max-height 300ms;
  }
  .show-exit {
    padding-top: 30px;
    max-height: 132px;
  }
  .show-exit-active {
    padding-top: 0;
    max-height: 0;
    transition: padding-top 300ms, max-height 300ms;
  }
}
