@import 'src/styles/vars';

.farming-mode-status {
  &__button {
    padding-left: 8px;

    &_auto {
      padding-top: 8px;
      padding-bottom: 8px;

      &:hover {
        & > :first-child {
          svg {
            animation: rotation 0.7s infinite linear;
          }
        }
      }

      & > :first-child {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $green;

        svg {
          path {
            stroke: initial;
          }
        }
      }
    }
  }

  &__button-text {
    padding-left: 10px;
    line-height: 100% !important;
  }
}
