@import '../../../../styles/vars';
@import '../../../../styles/mixins/media.scss';

.profile-preview {
  border-radius: 40px;
  overflow: hidden;
  height: 420px;
  background: rgba(241, 235, 253, 1);
  &__back {
    position: relative;
    height: 220px !important;
    border-radius: 0px 0 40px 40px;
    background-image: url(../../../../assets/img/sections/profile/bg-1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include b(mobile) {
      background-image: url(../../../../assets/img/sections/profile/bg-1.svg);
      padding: 40px 10px 20px 40px;
    }

    &--info {
      @include b(mobile) {
        button {
          margin-top: 15px;
        }
      }
    }
    &-avatar {
      position: absolute;
      bottom: -40px;
      left: 60px;
    }
  }
  &__content {
    padding: 0 20px 0 60px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    &-address {
      padding-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 224px;
      font-size: 36px;
      font-weight: 700;
      color: $purple;
      &-btn {
        margin: 20px 0;
        color: $white;
        font-weight: 700;
        &:hover,
        &:active,
        &:focus {
          color: $purple;
        }
      }
    }
    &-params {
      padding-top: 20px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      &__values {
        padding: 15px 25px;
        background: $white;
        box-shadow: 0px 12px 40px 0px rgba(85, 32, 142, 0.25);
        border-radius: 25px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        text-transform: uppercase;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}
