@import '../../../../styles/vars';
.profile-content {
  margin-top: 40px;
  width: 100%;

  &__page {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &-radio {
      padding: 0;
      width: 400px;
      min-height: 70px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      border: none;
      background: none;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      .r-group {
        &__btn {
          width: 160px;
        }
      }
      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        color: $purple !important;
        background: $white !important;
        box-shadow: 0px 12px 40px 0px rgba(85, 32, 142, 0.25);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
  &__body {
    padding: 38px 30px 30px;
    display: flex;
    flex-direction: column;
    background: $white;
    box-shadow: 0px 12px 40px 0px rgba(85, 32, 142, 0.25);
    border-radius: 40px;

    &__mode {
      margin-bottom: 20px;
      width: 300px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .r-group {
        &__btn {
          width: 141px;
        }
      }
      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        color: $white !important;
      }
    }
    &__grid {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}
