@import '../../../../styles/vars';
.profile-content {
  margin-top: 40px;
  padding: 38px 30px 30px;
  width: 100%;

  background: $white;
  box-shadow: 0px 12px 40px 0px rgba(85, 32, 142, 0.25);
  border-radius: 40px;

  &__radio {
    margin-bottom: 20px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .r-group {
      &__btn {
        width: 141px;
      }
    }
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      color: $white !important;
    }
  }
  &__body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}
