.y-liquidity {
  &__btn {
    width: 100%;
    margin-bottom: 40px;
  }
  &__box {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
  }
  &__text {
    margin-bottom: 20px;
  }
  &__title {
    margin-bottom: 10px;
  }
}
