.section {
  &__header {
    padding: 27px 32px;
    background: linear-gradient(98.94deg, #EFDFFF -22.87%, #F9F9F9 94.67%);
    border-radius: 40px 40px 0px 0px;
  }

  &__body {
    padding: 20px;
  }
}
