.h1 {
  font-size: 70px;
  line-height: 84px;
  @include b('tablet') {
    font-size: 50px;
    line-height: 60px;
  }
}
.text {
  font-size: 16px;
  line-height: 19px;
  &-sm {
    font-size: 15px;
    line-height: 18px;
  }
  &-smd {
    font-size: 18px;
    line-height: 26px;
  }
  &-md {
    font-size: 20px;
    line-height: 24px;
  }
  &-lg {
    font-size: 25px;
    line-height: 30px;
  }
  &-purple {
    color: $purple;
  }
  &-bold {
    font-weight: bold;
  }
  &-med {
    font-weight: 500;
  }
  &-white {
    color: #fff;
  }
  &-gray {
    color: $gray;
  }
}
