$purple: #3c079d;
$purple-s-l: #f4f0fb;
$purple-l: #f1ebfd;
$yellow: #ffa237;
$gray: rgba(0, 0, 0, 0.5);
$gray-l: rgba(#c1c1c1, 0.1);
$gray-2: rgba(#3c4252, 0.6);

$mediaWidthLaptop: 1440px;
$mediaWidthDesktop: 1024px;
$mediaWidthTablet: 768px;
$mediaWidthMobile: 550px;
