$purple: #3c079d;
$purple-d: #3f1e7e;
$purple-s-l: #f4f0fb;
$purple-l: #f1ebfd;
$orange: #ffa237;
$gray: rgba(0, 0, 0, 0.5);
$gray-3: #c1c1c1;
$gray-l: rgba(#c1c1c1, 0.1);
$gray-l-2: rgba(black, 0.3);
$gray-2: rgba(#3c4252, 0.6);
$gray-4: #585858;
$green: #09bdc6;
$green1: #19a04f;
$blue: #32afe3;
$blue-d: #5e8dec;
$red: #ff4d4f;

$bg-gradient: linear-gradient(98.94deg, #efdfff -22.87%, #f9f9f9 94.67%);

$mediaWidthLaptop: 1440px;
$mediaWidthDesktop: 1024px;
$mediaWidthTablet: 768px;
$mediaWidthMobile: 550px;
