.input {
  border: none;
  padding: 0;
  color: #3c079d;
  &:hover,
  &:focus {
    border: none;
    box-shadow: none;
  }
  &-lg {
    font-size: 20px;
    line-height: 24px;
    input::placeholder {
      color: #3c079d;
    }
  }
}
