@import 'src/styles/vars';
.btn {
  border: none;
  padding: 20px;
  height: auto;
  border-radius: 40px;
  display: block;
  width: fit-content;
  &-yellow {
    background: $orange;
    &:hover {
      background: $orange;
    }
    &:active,
    &:focus {
      background: $orange;
    }
  }
  &-sm {
    min-width: 74px;
    padding: 13px 5px 14px;
    text-align: center;
  }
  &-ssm {
    padding: 6px 18px;
  }
  &-outline {
    background: white;
    border: 3px solid $purple-s-l;
    color: $gray;
    &:hover {
      border-color: $purple-s-l;
      color: #000;
    }
    &:active,
    &:focus {
      color: #000;
      border-color: $purple-s-l;
    }
    &.active {
      background: $purple-s-l;
      color: $purple;
    }
    &-purple {
      background: transparent;
      border: 1px solid $purple;
      color: $purple;
      &:hover {
        border-color: $purple;
        color: $purple;
      }
      &:active,
      &:focus {
        color: $purple;
        border-color: $purple;
      }
    }
  }
}
