@import 'src/styles/mixins/media.scss';

.farms {
  padding-top: 25px;
  padding-bottom: 50px;

  &__i-contr {
    grid-template-columns: 0.5fr 0.5fr 1fr;

    @include b(tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
