@import 'src/styles/vars';
.trade-box {
  padding: 30px;
  margin-top: 40px;
  &__title {
    margin-bottom: 12px;
  }
  &__box {
    &-top {
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid #e0e0e0;
    }
  }
  &__icon {
    & + & {
      margin-left: 25px;
    }
  }
}
